.background-img{
  width: 100%;
  height: 100%;
  filter: opacity(0.5);
}


@media screen and (min-width: 840px) {
  .text-img{
    position: absolute;
    left: 15vw;
    top: 30vh;
    height: 15vw;
  }
}

@media screen and (min-width: 440px) and (max-width: 839px) {
  .text-img{
    position: absolute;
    left: 15vw;
    top: 15vh;
    height: 15vw;
  }
}

@media screen and (max-width: 439px) {
  .text-img{
    position: absolute;
    left: 15vw;
    top: 9vh;
    height: 15vw;
  }
}
